$primary: #444545;
$secondary: #FAFAFA;
$success: #75b829c9;
$danger: #c7464e;
$warning: #e39161;
$info: #495e63;
$light:	#CCCBC3;
$dark: #495E63;
$white:	#ffffff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Inter:wght@600;700&family=Leckerli+One&display=swap');
